doctype 5
html
  head
    // Page Information
    title
      | House Monitor - #{title}
    
    // Stylesheets
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/css/jqueryui_themes/dot-luv/jquery-ui-1.8.2.custom.css')
    
    // Javascript files
    script(type="text/javascript", src="/js/jquery-1.4.2.min.js")
    script(type="text/javascript", src="/js/jquery-ui-1.8.2.custom.min.js")
    script(type="text/javascript", src="/js/jquery.form.js")
    script(type="text/javascript", src="/js/jquery.validate.js")
    script(type="text/javascript", src="/js/login.js")

    script(type="text/javascript", src="/socket.io/socket.io.js")
    block javascriptincludes

  body
    div#wrapper
      div#wrapper2
        div#header
          div#accountmenu
            ul
              li
                a(href='#', id='loginButton', class='first') Login
            div#loginContainer
              div#loginBox
                form#loginForm
                  fieldset#body
                    fieldset
                      label(for='email') Username
                      input(type="text"
                        name="email"
                        id="email"
                        size="25"
                        required)
                    fieldset
                      label(for='password') Password
                      input(type="text"
                        name="password"
                        id="password"
                        size="25"
                        required)
                    input(type="submit"
                      name="login"
                      id="login"
                      value="Sign In")
                  span
                    a#forgotYourPassword(href='#') Forgot your password?
          div#topmenu
            ul
              li
                a(href='/', class='first') Home
              li
                a(href='/sensornodes') Nodes
        div#header2
          div#headertitle
            a(href='/') House Monitor
          div#mainmenu
            ul
              li
                a(href='/widgets', class='active') List
              li
                a(href='/widgets/new') New
        div#maincontainer
          block content
        div#footer
          div#credits
            | &copy;Copyright 2013 Paul Chilton

    div#dialog-message
      | &nbsp;
