tr
  td(style="text-align:center;")
    a(href='/feeds/#{item.id}') #{item.name}

  td(style="text-align:center;") 
    div(id="lastupdated#{item.id}", class="datecell", isotime="#{item.lastupdated}") TBC
    
  td(style="text-align:center;")
    span(id="feedvalues#{item.id}") #{item.lastvalue} #{item.units} 
        