ul
  li ID: #{item.id}
  li RF Group: #{item.rfgroup}
  li RF Node ID: #{item.rfnodeid}
  li Location: #{item.location}
  li Packet Version: #{item.packetversion}
  li PCB: #{item.pcb}
  li Firmware: #{item.firmware}
  li Sensors: #{item.sensors}
  li Update Interval: #{item.updateInterval}
